<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wppai.adsdk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="com.wppai.adsdk.WebViewActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="share"
                    android:scheme="will" />
            </intent-filter>
        </activity>

        <activity android:name=".AdDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ADialogActivityTheme"/>

        <receiver android:name="com.wppai.adsdk.comm.NotificationBroadcastReceiver">
            <intent-filter>
                <action android:name="notification_cancelled" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver android:name=".WebViewActivity$DownloadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>

        <provider
            android:name="com.liulishuo.okdownload.OkDownloadProvider"
            android:authorities="${applicationId}.com.liulishuo.okdownload"
            android:exported="false" />
        <provider
            android:authorities="${applicationId}.wppai.fileProvider"
            android:name="com.wppai.adsdk.comm.WPPAIFileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/wppai_file_paths" />
        </provider>

    </application>
</manifest>
